

.clear {
	clear: both;
}

body{
  padding:50px;
}

.bubble{
  position:relative;
  display:inline-block;
  padding: 19px;
  background-color:lightblue;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.bubble:before{
  content: "";
  position: absolute;
  bottom: -14px;
  padding: 7px 15px;
  right: -2px;
  background-color: lightblue;
  border-bottom-left-radius: 30px 20px;
}

.bubble:after{
  content: "";
  position: absolute;
  bottom: -14px;
  padding: 7px 15px;
  right: -12px;
  background-color: white;
  border-bottom-left-radius: 30px 20px;
}

.slogan {
  font-family: "Palatino Linotype", Palladio, "URW Palladio L", "Book Antqiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No0 L", Garamond, "apple Garamond", "ITC Garamond Narro", "New Century Schoolbook", "Century Schoolbook L", Georgio, serif;
  font-style: italic;
  padding-top: 26;
}

.links {
  padding-top: 26px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 2px solid #dfdfdf;
  font-family: 'maiden_orangeregular', serif;
  font-weight: bold;
}

header {
  border-top: 7px solid #1b596e;
}

hr {
  clear: both;
}

h1 {
  font-family: 'maiden_orangeregular', serif;
  font-weight: bold;
  font-size: 48px;

}

h2 {
  font-family: 'nobilemedium_italic', serif;
  }

.footer-blurb {
  font-family: "Palatino Linotype", Palladio, "URW Palladio L", "Book Antqiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No0 L", Garamond, "apple Garamond", "ITC Garamond Narro", "New Century Schoolbook", "Century Schoolbook L", Georgio, serif;
  font-style: italic;
}

.logo:hover {
  text-decoration: none;
}

.about {
  font-family: "Palatino Linotype", Palladio, "URW Palladio L", "Book Antqiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No0 L", Garamond, "apple Garamond", "ITC Garamond Narro", "New Century Schoolbook", "Century Schoolbook L", Georgio, serif; 
}